<div class="jumbotron">
  <h1 class="display-4"><%= t('welcome.title') %></h1>
  <p class="lead"><%= t('welcome.message') %></p>
  <hr class="my-4">
  <p><%= t('welcome.select') %></p>
   <%= render 'menu' %>
  </p>
</div>
